{% extends "layout.html" %}


{% block style %}

{% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


@import url('https://fonts.googleapis.com/css?family=Raleway:200');


</style>

{% endblock %}

{% block body %}

<div class="center">
    <h5>All Employees</h5>

    {% for employee in employees %}

    

    {% endfor %}

</div>

{% endblock %}


{% block script %}

 
<script language="javascript">


</script>

{% endblock %}





