.fullscreen-modal.modal-dialog  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    }

.fullscreen-modal .modal-content {
    position: fixed;
    top: 50px;
    left: 50px;
    right: 50px;
    overflow: scroll;
    bottom: 50px;
}

.Button{
    text-transform:uppercase;
    margin: 2rem  0 2rem;
    border-radius: 8px;
    font-weight: 400;
    font-size: 0.9rem;
}
.Button:focus{
    outline: none;

}